.team{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .logo{
        position: absolute;
        top: 3%;
        left: 8%;
        width: 10%;
    }

    .title{
        position: absolute;
        top: 7%;
        text-align: center;
        h1{
            font-family: $en_font1;
            letter-spacing: 0.1em;
            font-weight: 500;
            font-size: 3.2vw;
        }
        h2{
            font-size: 1.6vw;
            letter-spacing: 0.1em;
            font-weight: 500;
        }
    }

    .teamBox{
        display: flex;
        width: 90%;
        .one{
            position: relative;

            &:nth-of-type(even){
                margin-top: 3vw;
            }
            .teamLine{
                position: absolute;
                width: 71%;
                top: 0%;
                left: 0%;
                pointer-events: none;
            }
            .thumbBox{
                padding: 1vw;
                
            }
        }
        
    }
    
}

.fancyBox.sp2{

    .content_box {
        .flex_box.teamFancyBox{
            display: flex;
            height: 100%;
            .left{
                flex: 1 1 35%;
                height: 100%;
                position: relative;
                img{
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .img_txt{
                    position: absolute;
                    bottom: 1%;
                    left: 4%;
                    letter-spacing: 0.1em;
                    font-size: 1vw;
                    color: #fff;
                }
            }
            .right{
                flex: 1 1 65%;
                img{
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
    
}